
    	
<div class="row mb-2">
    <hr class='w-100'>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"><a class="" data-toggle="modal"
      data-target="#modalPropietario" (click)='propietarioSeleccionado.emit(propietario)'>{{propietario.nombre}}</a></div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">{{propietario.nif}}</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">{{propietario.apellido1}}</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">{{propietario.apellido2}}</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">
	
      <!-- <button class="btn btn-info" [routerLink]="['/negocios',negocios.idNegocio ]">Negocios</button> -->
	
  </div>


  